.contact-form
  &__form-group
    margin-top: 20px
  input
    width: 100%
    border: 1px solid $color-button-base
    border-radius: 5px
    padding: 17px 10px
    font-size: 18px
    font-family: $roboto-regular
    text-align: center
    @include placeholder
      color: $color-button-base
    &:focus
      outline: none
      box-shadow: 0 0 3px #414ddd
  input[type="submit"]
    border: none
    cursor: pointer
  &__loader-overlay
    display: none
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(255, 255, 255, .7)
    &:after
      content: ''
      display: block
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      background: url('../images/ajax-loader.gif') no-repeat
      background-position: center center