.modal-popup
  position: relative
  margin: 40px auto
  max-width: 600px
  padding: 60px 36px
  background: #ffffff
  border-radius: 5px
  &__name
    font-family: $roboto-regular
    font-size: 28px
    color: $color-button-base
    text-align: center
    margin-bottom: 30px
  &__success
    display: none
    text-align: center
    font-size: 30px
    padding: 0px 20px
    margin: 50px 0
  &__fail-recaptcha
    display: none
    text-align: center
    padding: 10px 0

.mfp-fade.mfp-bg
  opacity: 0
  transition: all 0.15s ease-out

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready
  opacity: 0.8

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing
  opacity: 0

/* content at start */
.mfp-fade.mfp-wrap .mfp-content
  opacity: 0
  transition: all 0.15s ease-out

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content
  opacity: 1
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content
  opacity: 0
