<section class="section">
    <div class="call-to-action">
        <div class="container">
            <h2 style="text-align: center; margin-bottom: 30px">
                Узнайте о наличии бокса сейчас!
            </h2>
            <div class="call-to-action__content">
                <p>Мы работаем 24 часа в сутки, 7 дней в неделю!</p>
                <a href="tel:+74957553015" class="call-to-action__phone">+7 (495) 755 30 15</a>
                <a href="#call-back-modal" class="base-button-link call-to-action__button open-call-back" style="display: inline-block">Заказать обратный звонок</a>
            </div>
        </div>
    </div>
</section>