<section class="section section--main">
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="column-4 column-sm-8 column-md-8">
                    <div class="main-section__title">
                        <h1>Аренда боксов,<br/>хранение вещей</h1>
                    </div>
                    <div class="main-section__description">
                        Компания Склад-Бокс предоставляет уникальные услуги по временному хранению вещей любого типа и объема.
                        Хранение вещей в боксах стало общепризнынм по всему миру и является надежным методомо хранения вещей.
                    </div>
                    <div class="main-section__button">
                        <a href="#save-your-stuff" class="base-button-link scroll" style="display: inline-block;">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-section__image-build"></div>
    </div>
</section>