<section class="section section--save-your-stuff" id="save-your-stuff">
    <div class="save-your-stuff">
        <div class="container">
            <div class="row">
                <h2 style="text-align: center;">Хранение ваших вещей</h2>
                {% set items = [
                {
                    svgIcon: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 224 224" style="enable-background:new 0 0 224 224; max-height: 100%" xml:space="preserve">
                    <path d="M179.588,178.67c-9.423,0-17.312-6.692-19.163-15.574H79.308c-1.852,8.881-9.74,15.574-19.163,15.574  c-9.422,0-17.311-6.692-19.163-15.574H4c-2.209,0-4-1.791-4-4V49.33c0-2.209,1.791-4,4-4h146.934c2.209,0,4,1.791,4,4v35.95h30.702  c2.043,0,3.757,1.539,3.977,3.57l2.728,25.235l19.937,3.766c1.89,0.357,3.258,2.008,3.258,3.931v23.762H220c2.209,0,4,1.791,4,4  s-1.791,4-4,4h-4.464v5.552c0,2.209-1.791,4-4,4h-12.785C196.899,171.977,189.011,178.67,179.588,178.67z M179.578,147.522  c-6.377,0.006-11.563,5.195-11.563,11.574c0,6.382,5.192,11.574,11.574,11.574c6.263,0,11.38-5,11.568-11.218  c-0.01-0.117-0.016-0.236-0.016-0.355C191.141,152.718,185.955,147.528,179.578,147.522z M48.577,159.443  c0.184,6.222,5.302,11.227,11.568,11.227c6.382,0,11.574-5.192,11.574-11.574c0-6.378-5.187-11.568-11.563-11.574  c-6.377,0.006-11.563,5.195-11.563,11.574C48.592,159.213,48.587,159.329,48.577,159.443z M198.751,155.096h8.785v-29.999  l-19.595-3.701c-1.732-0.327-3.045-1.749-3.235-3.501l-2.661-24.615h-27.111v61.815h5.47c1.852-8.881,9.74-15.574,19.163-15.574  c0.006,0,0.013-0.001,0.021,0C189.011,139.522,196.899,146.215,198.751,155.096z M79.329,155.096h67.605V53.33H8v101.766h32.982  c1.852-8.881,9.74-15.574,19.163-15.574c0.007,0,0.014,0,0.021,0C69.588,139.522,77.477,146.215,79.329,155.096z M95.643,130.236  H59.292c-2.209,0-4-1.791-4-4v-25.429c0-2.209,1.791-4,4-4s4,1.791,4,4v21.429h28.351v-21.429c0-2.209,1.791-4,4-4s4,1.791,4,4  v25.429C99.643,128.445,97.852,130.236,95.643,130.236z M108.498,98.375c-0.882,0-1.77-0.291-2.51-0.888L77.467,74.462  L48.946,97.487c-1.719,1.387-4.237,1.119-5.625-0.6c-1.388-1.719-1.119-4.237,0.6-5.625l30.974-25.005  c0.265-0.223,0.554-0.407,0.859-0.552c0.543-0.258,1.128-0.384,1.711-0.384c0.002,0,0.003,0,0.005,0  c0.576,0,1.155,0.124,1.693,0.376c0.312,0.146,0.607,0.333,0.878,0.561l30.972,25.004c1.719,1.388,1.987,3.906,0.6,5.625  C110.822,97.866,109.665,98.375,108.498,98.375z" fill="#4993DE"/>
                </svg>',
                    title: 'Предстоит переезд',
                    text: 'Еще не решили<br/>куда разместить<br/>все вещи из старой квартиры?'
                },
                {
                    svgIcon: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_2" x="0px" y="0px" viewBox="0 0 225.102 225.102" style="enable-background:new 0 0 225.102 225.102; max-height: 100%" xml:space="preserve">
    <g>
        <path d="M214.977,35.854c0-2.498-2.025-4.522-4.522-4.522h-34.639V4.523c0-2.497-2.024-4.523-4.522-4.523H14.647   c-2.498,0-4.523,2.025-4.523,4.523v62.661c0,2.498,2.024,4.522,4.523,4.522h156.646c2.498,0,4.522-2.024,4.522-4.522V40.377h30.115   v24.021L92.06,121.793c-1.614,0.813-2.524,2.462-2.481,4.156c-0.002,0.038-0.007,0.075-0.007,0.112v22.187H78.425   c-2.498,0-4.522,2.024-4.522,4.522v67.808c0,2.498,2.024,4.523,4.522,4.523h31.332c2.498,0,4.522-2.025,4.522-4.523V152.77   c0-2.498-2.024-4.522-4.522-4.522H98.618v-19.632l113.871-57.394c1.614-0.813,2.524-2.462,2.482-4.156   c0-0.038,0.005-0.075,0.005-0.113V36.085c0-0.038-0.005-0.076-0.005-0.115C214.972,35.932,214.977,35.894,214.977,35.854z    M166.77,62.661H19.171V9.046H166.77V62.661z M105.234,216.056H82.947v-58.763h22.287V216.056z" fill="#4993DE"/>
    </g>
    </svg>',
                    title: 'Планируете ремонт',
                    text: 'Нужно где-то<br/>разместить мебель<br/>и вещи на время<br/>ремонта?'
                },
                {
                    svgIcon: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_3" x="0px" y="0px" viewBox="0 0 221.07 221.07" style="enable-background:new 0 0 221.07 221.07; max-height: 100%" xml:space="preserve">
    <path d="M49.132,173.074c-6.49,0-12.97-2.5-17.943-7.475l-0.294-0.293c-6.666-6.665-17.278-6.844-24.162-0.407  c-1.614,1.511-4.145,1.423-5.654-0.189c-1.509-1.613-1.424-4.145,0.189-5.653c10.054-9.4,25.551-9.141,35.281,0.59l0.294,0.293  c6.666,6.666,17.277,6.845,24.161,0.407l1.382-1.292c10.052-9.4,25.55-9.14,35.279,0.592l0.294,0.293  c6.667,6.666,17.278,6.844,24.162,0.407l1.38-1.291c10.052-9.399,25.55-9.141,35.281,0.59l0.298,0.298  c6.661,6.662,17.274,6.84,24.157,0.402l1.38-1.291c10.054-9.4,25.55-9.141,35.281,0.59c1.563,1.562,1.563,4.095,0,5.657  c-1.561,1.563-4.094,1.562-5.656,0c-6.665-6.664-17.277-6.841-24.16-0.405l-1.38,1.291c-10.054,9.4-25.55,9.141-35.281-0.59  l-0.298-0.298c-6.661-6.662-17.274-6.84-24.157-0.402l-1.38,1.291c-10.054,9.4-25.55,9.141-35.281-0.59l-0.294-0.293  c-6.666-6.666-17.277-6.844-24.161-0.407l-1.382,1.292C61.555,170.786,55.338,173.073,49.132,173.074z M49.131,135.93  c-6.489,0-12.969-2.499-17.942-7.474l-0.294-0.293c-6.666-6.666-17.278-6.844-24.162-0.406c-1.614,1.509-4.145,1.423-5.654-0.19  c-1.509-1.613-1.424-4.145,0.189-5.653c10.054-9.4,25.552-9.14,35.281,0.59l0.294,0.293c4.778,4.779,11.586,6.225,17.589,4.288  V67.919c0-6.574-5.348-11.922-11.922-11.922h-0.322c-6.574,0-11.922,5.348-11.922,11.922v2.792c0,2.209-1.791,4-4,4s-4-1.791-4-4  v-2.792c0-10.985,8.937-19.922,19.922-19.922h0.322c10.985,0,19.922,8.937,19.922,19.922v31.105h43.32V67.919  c0-6.574-5.348-11.922-11.922-11.922h-0.322c-6.573,0-11.922,5.348-11.922,11.922v2.792c0,2.209-1.791,4-4,4s-4-1.791-4-4v-2.792  c0-10.985,8.937-19.922,19.922-19.922h0.322c10.985,0,19.922,8.937,19.922,19.922v59.639c3.03-0.627,5.933-2.076,8.369-4.355  l1.38-1.29c10.052-9.401,25.551-9.141,35.281,0.59l0.298,0.298c6.661,6.661,17.274,6.84,24.157,0.402l1.38-1.29  c10.054-9.401,25.55-9.14,35.281,0.59c1.563,1.563,1.563,4.095,0,5.657c-1.561,1.562-4.096,1.562-5.656,0  c-6.665-6.665-17.278-6.842-24.16-0.404l-1.38,1.29c-10.055,9.4-25.552,9.14-35.281-0.59l-0.298-0.298  c-6.661-6.662-17.274-6.84-24.157-0.402l-1.38,1.291c-10.056,9.4-25.552,9.14-35.281-0.59l-0.294-0.293  c-6.666-6.666-17.277-6.845-24.161-0.407l-1.382,1.292C61.554,133.643,55.338,135.93,49.131,135.93z M79.723,115.03  c6.489,0,12.969,2.499,17.942,7.474l0.294,0.293c2.247,2.247,4.943,3.757,7.793,4.524v-20.297h-43.32v14.845  C67.338,117.304,73.535,115.03,79.723,115.03z" fill="#4993DE"/>
    </svg>',
                    title: 'Путешествие',
                    text: 'Сдали квартиру<br/>и не хотите, чтобы<br/>вашими вещами<br/>пользовались?'
                },
                {
                    svgIcon: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_4" x="0px" y="0px" viewBox="0 0 470 470" style="enable-background:new 0 0 470 470; max-height: 100%" xml:space="preserve">
    <g>
        <path d="M447.671,22.311C433.284,7.923,414.155,0,393.808,0c-20.347,0-39.476,7.923-53.863,22.311   c-5.875,5.875-14.551,15.654-26.56,29.19c-25.121,28.315-67.164,75.706-126.68,135.222   C127.19,246.239,79.799,288.283,51.484,313.403c-13.536,12.009-23.316,20.686-29.191,26.561c-29.7,29.7-29.7,78.025,0,107.726   C36.68,462.076,55.809,470,76.156,470c20.346,0,39.476-7.924,53.863-22.311c5.875-5.875,14.55-15.653,26.557-29.188   c25.121-28.315,67.165-75.707,126.683-135.225c59.517-59.517,106.908-101.561,135.223-126.681   c13.536-12.008,23.315-20.684,29.19-26.559c14.387-14.387,22.311-33.516,22.311-53.863   C469.982,55.827,462.058,36.698,447.671,22.311z M271.727,132.183c4.482,0,8.791,1.112,12.619,3.199l-35.836,35.836   c-5.078-9.361-4.091-21.159,2.961-29.57c0.725-0.766,1.448-1.531,2.165-2.29C258.553,134.729,264.943,132.183,271.727,132.183z    M330.613,216.356c-0.769,0.726-1.544,1.459-2.32,2.193c-4.741,3.967-10.663,6.13-16.919,6.13c-7.058,0-13.694-2.749-18.685-7.739   l-34.344-34.344l37.37-37.37l34.344,34.344C340.171,189.682,340.351,206.014,330.613,216.356z M158.59,245.32   c4.482,0,8.791,1.112,12.619,3.199l-35.845,35.845c-2.087-3.828-3.199-8.137-3.199-12.619c0-6.786,2.546-13.176,7.177-18.094   c0.77-0.726,1.545-1.459,2.321-2.194C146.406,247.486,152.331,245.32,158.59,245.32z M218.497,328.347   c-0.727,0.769-1.453,1.536-2.171,2.298c-4.918,4.627-11.306,7.171-18.089,7.171c-7.058,0-13.694-2.749-18.685-7.739l-34.344-34.344   l37.37-37.37l34.344,34.344C226.668,302.453,227.189,317.976,218.497,328.347z M145.355,408.547   c-11.834,13.34-20.385,22.979-25.943,28.536C107.858,448.637,92.496,455,76.156,455c-16.34,0-31.702-6.363-43.256-17.917   c-23.852-23.852-23.852-62.661,0-86.513c5.558-5.558,15.198-14.11,28.54-25.946c14.146-12.55,33.037-29.31,55.811-50.345   c0.455,7.594,2.954,14.795,7.229,20.971l-2.252,2.252c-2.929,2.929-2.929,7.678,0,10.606c1.464,1.464,3.384,2.197,5.303,2.197   s3.839-0.732,5.303-2.197l1.768-1.768l34.344,34.344c7.224,7.224,16.647,11.442,26.758,12.048   C174.666,375.508,157.906,394.4,145.355,408.547z M272.652,272.67c-11.786,11.786-22.878,23.088-33.302,33.872   c-1.045-8.938-4.979-17.599-11.821-24.441l-34.344-34.344l1.768-1.768c2.929-2.929,2.929-7.678,0-10.606   c-2.929-2.929-7.678-2.929-10.606,0l-2.252,2.251c-5.54-3.834-11.903-6.237-18.635-7.021   c10.778-10.419,22.074-21.504,33.853-33.283c11.787-11.787,22.881-23.092,33.306-33.876c0.768,6.574,3.095,12.997,6.999,18.657   l-2.253,2.253c-2.929,2.929-2.929,7.678,0,10.606c1.464,1.464,3.384,2.197,5.303,2.197s3.839-0.732,5.303-2.197l1.768-1.768   l34.344,34.344c6.664,6.664,15.201,10.766,24.422,11.84C295.727,249.805,284.431,260.891,272.652,272.67z M437.065,119.43   c-5.558,5.558-15.197,14.109-28.538,25.945c-14.15,12.553-33.047,29.318-55.83,50.362c-0.589-9.754-4.595-19.337-12.031-26.774   l-34.344-34.344l1.768-1.768c2.929-2.929,2.929-7.678,0-10.606c-2.929-2.929-7.678-2.929-10.606,0l-2.252,2.252   c-6.177-4.275-13.377-6.774-20.971-7.229c21.036-22.775,37.795-41.665,50.346-55.812c11.836-13.341,20.387-22.98,25.945-28.539   C362.106,21.363,377.468,15,393.808,15c16.34,0,31.703,6.363,43.257,17.917s17.917,26.916,17.917,43.256   S448.619,107.876,437.065,119.43z" fill="#4993DE"/>
        <path d="M202.78,296.243l-19.692,19.692c-2.929,2.929-2.929,7.677,0,10.606c1.464,1.465,3.384,2.197,5.303,2.197   s3.839-0.732,5.303-2.197l19.692-19.692c2.929-2.929,2.929-7.678,0-10.606C210.458,293.313,205.709,293.314,202.78,296.243z" fill="#4993DE"/>
        <path d="M315.917,183.105l-19.692,19.692c-2.929,2.929-2.929,7.678,0,10.606c1.464,1.464,3.384,2.197,5.303,2.197   s3.839-0.732,5.303-2.197l19.692-19.692c2.929-2.929,2.929-7.678,0-10.606C323.595,180.177,318.846,180.177,315.917,183.105z" fill="#4993DE"/>
    </g>
    </svg>',
                    title: 'Сезонное хранение',
                    text: 'Любите зимний и<br/>летний спорт, но<br/>нет места для<br/>инвентаря?'
                }
                ] %}
                {% for item in items %}
                    {% include 'pages/sections/save-your-stuff/item.njk' %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>