<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__left">
                <div class="header__logo">
                    СКЛАД - <span>БОКС</span>
                </div>
                <div class="header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="header__phone">
                    <a href="tel:+74957553015">+7 (495) 755 30 15</a>
                </div>
            </div>
            <div class="header__right">
                <ul class="header__nav header__nav--desktop">
                    <li><a href="#what-in-box" class="scroll">Что хранят</a></li>
                    <li><a href="#calculator-section" class="scroll">Цены</a></li>
                    <li><a href="#address" class="scroll">Адреса</a></li>
                    <li><a href="#reviews-section" class="scroll">Отзывы</a></li>
                    <li><a href="#contacts" class="scroll">Контакты</a></li>
                </ul>
                <ul class="header__nav header__nav--mobile">
                    <li><a href="#what-in-box" class="scroll">Что хранят</a></li>
                    <li><a href="#calculator-section" class="scroll">Цены</a></li>
                    <li><a href="#address" class="scroll">Адреса</a></li>
                    <li><a href="#reviews-section" class="scroll">Отзывы</a></li>
                    <li><a href="#contacts" class="scroll">Контакты</a></li>
                </ul>
                <a href="#call-back-modal" class="base-button-link base-button-link--outline open-call-back" style="display: inline-block">Заказать&nbsp;звонок</a>
            </div>
        </div>
    </div>
</header>