.footer
  background: url('../images/footer-background.jpg')
  padding: 30px 0
  font-size: 0
  &__inner
    max-width: 960px
    margin: 0 auto
    font-size: 0px
  &__column
    display: inline-block
    width: 50%
    font-size: 16px
    color: #000000
    vertical-align: top
    font-family: 'Roboto Light', sans-serif
    +media-750
      width: 70%
  &__contacts
    padding-left: 90px
    padding-top: 10px
    padding-bottom: 10px
    margin-left: (100% / 4)
    line-height: 25px
    min-height: 47px
    background: url("../images/phone-call.png") no-repeat
    background-position: center left
    +media-800
      margin-left: 0px
    +media-750
      margin-left: (100% / 4 * 1 )
    a
      color: #000000
  &__address
    padding-left: 90px
    padding-top: 10px
    padding-bottom: 10px
    min-height: 63px
    line-height: 31px
    background: url("../images/email.png") no-repeat
    background-position: center left
    +media-750
      margin-left: (100% / 4 * 1 )
    a
      color: #000000
      text-decoration: underline
      &:hover
        text-decoration: none
  &__copyright
    font-family: $roboto-regular
    font-size: 16px
    color: #000000
    text-align: center
    margin-top: 30px
  &__copyright-link-company
    font-family: $roboto-medium
    display: inline-block
    position: relative
    text-transform: uppercase
    color: #000000
    text-decoration: none
    &:before
      content: ''
      display: block
      position: absolute
      bottom: 0
      left: 0
      height: 1px
      background: #000000
      width: 100%
      transition: width .3s
    &:hover
      &:before
        width: 0
  &__divider
    height: 1px
    background: $color-button-base
    margin-left: -4%
    margin-right: -4%
  &__politica
    color: #000000
    &:hover
      text-decoration: none