.main-section
  position: relative
  padding-top: 200px
  padding-bottom: 110px
  +media-1440
    background-size: 65%
  +media-750
    padding-top: 650px
    padding-bottom: 160px
  +media-480
    text-align: center
  &__description
    margin-top: 45px
  &__button
    margin-top: 45px
  &__image-build
    position: absolute
    top: 0
    right: 0
    background: url('../images/main-bg-build.png') no-repeat
    background-position: top right
    background-size: contain
    width: 890px
    height: 90%
    +media-1366
      left: 460px
    +media-750
      display: none