.sub-footer
  //background: $blue-color
  //padding-top: 40px
  padding-bottom: 15px
  &__inner
    max-width: 960px
    margin: 0 auto
    font-size: 0px
  &__info
    margin-left: (100% / 8)
  &__title
    font-family: $roboto-medium
    font-size: 24px
    color: #000000
    &--mobile
      display: none
      +media-750
        display: block
    &--desktop
      +media-750
        display: none
    +media-750
      font-size: 20px
  &__left-side
    display: inline-block
    width: 52%
    color: #000000
    vertical-align: top
    +media-710
      width: 100%
      text-align: center
  &__right-side
    display: inline-block
    width: 42%
    margin-left: 5%
    color: #000000
    vertical-align: top
    +media-710
      width: 100%
      text-align: center
      margin: 20px 0 0
  &__address
    font-family: "Roboto Light", sans-serif
    font-size: 14px
    line-height: 25px
    margin-top: 15px
    strong
      font-family: $roboto-medium
  &__inn
    font-family: "Roboto Light", sans-serif
    font-size: 14px
    line-height: 25px
    margin-top: 15px
    strong
      font-family: $roboto-medium
    +media-750
      display: inline-block
      width: 43%
  &__requisites
    font-family: "Roboto Light", sans-serif
    font-size: 14px
    line-height: 25px
    margin-top: 15px
    strong
      font-family: $roboto-medium
    &--desktop
      +media-750
        display: none
    &--mobile
      display: none
      +media-750
        display: block
  &__numbers
    font-family: "Roboto Light", sans-serif
    font-size: 14px
    line-height: 25px
    margin-top: 15px
    strong
      font-family: $roboto-medium
    &--desktop
      +media-750
        display: none
    &--mobile
      display: none
      +media-750
        display: inline-block
        width: 57%
  &__documents
    margin-top: 30px
    &--mobile
      display: none
      +media-750
        display: block
        margin-top: 0px
    &--desktop
      +media-750
        display: none
  &__documents-title
    display: inline-block
    width: 16%
    vertical-align: bottom
    +media-992
      width: 100%
  &__documents-links
    display: inline-block
    width: 84%
    vertical-align: bottom
    +media-1152
      display: block
      margin-top: 20px
      width: 100%
  &__documents-list
    font-size: 0
    li
      display: inline-block
      font-family: $roboto-regular
      font-size: 14px
      margin-right: 25px
      +media-950
        display: block
        padding: 10px 0
        margin: 0
      a
        display: inline-block
        position: relative
        font-family: $roboto-regular
        color: #000000
        text-decoration: underline
        &:hover
          text-decoration: none