<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project</title>

    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="./images/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="./images/favicon/apple-touch-icon.png" type="image/png">

    <link rel="stylesheet" href="./css/application.css">
</head>
<body>
{% include "shared/_header.njk" %}

<main>
    {% block content %}{% endblock %}
</main>

{% include "shared/_footer.njk" %}
</body>
<script type="text/javascript" src="./js/application.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
</html>
